.about-me .card{
    position: relative;
    bottom:0;
    top: 30%;
}
/* about us */
.about-us .card2{
    position: relative;
    right: 20%;
    top:17%;
}
.about-me button{
    color: #fff;
    background-color: #8490ff;
}
.about-us button{
    color: #fff;
    background-color: #8490ff;
}
/* button hover */
.about-me .about-button:hover{
    color: #fff;
    background-color:black;
}
.about-us .about-button:hover{
    color: #fff;
    background-color:black;
}
/* number counter */
.number-counter{
    background-color:#8490ff;
    color: #fff;
}
/* service section */
.card .card-c{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #8490ff11;
    margin-top: 10px;
}
.card-c h3{
    line-height: 80px;
}
.card-c{
    position: relative;
    top:0;
    left:39%;
}
/* service section button hover */
.service-btn{
     outline: 2px solid #8490ff;
     color: #8490ff;
     background-color: #fff;
}
.service-section .service-btn:hover{
    color: #fff;
    background-color: #8490ff;
}
/* team section */
.team-section{
    margin: 50px 0;
}
.team-section img{
    margin-top: -50px;
    margin-left: 15px;
}
/* contact section */
.contact-section .card3{
    position: relative;
    top: 10%;
    bottom:0;
}